body{
    margin: 0;
    padding: 0;
    background-color: #252422;
}

.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pannel{

    width: 40vw;
    height: 70vh;
    background-color: #CCC5B9;
    margin-right: 15%;

}

#shape{
    position: relative;

    width: 20vw;
    height: 20vw;
    background-color: #EB5E28;
}

.pannel input{
    display: block;
}

.clipboard{
    display: flex;
}

.clipboard button{
    margin-left: 15px;
    border: none;
    background: none;
    cursor: pointer;
}